body {
    background-color: #EFEFEF;
}

hr {
    padding: 0;
    margin: 0;
}

aside {
    width: 37%;
    background-color: #fff;
    float: right;
}

main {
    display: flex;
    justify-content: space-between;
    /* background-color: blue; */
    height: fit-content;
    margin-top: 15px;
}

i {
    color: #818282;
}

li {
    display: inline;
}

h4,
h3 {
    font-family: Arial, Helvetica, sans-serif;
}

iframe {
    /* width="60%" height="300px;" */
    width: 100%;
    height: 300px;
}

.youtubelogo {
    width: 10%;
    height: 70%;
}

.button {
    padding: 7px 15px;
}

.thumbnailvideos {
    width: inherit;
    height: 170px;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.videodesc {
    width: fit-content;
    height: fit-content;
    float: right;
}

.videodesc h4,
p {
    padding: 0;
    border: 0;
    margin: 0;
}

.videodesc p {
    color: #A4A4A4;
}

.header {
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #fff
}

.iwhite {
    color: #fff
}

.lists {
    list-style: none;
    display: inline;
}

.imgthumb {
    width: 50%;
    height: 60%;
}

.thirdlineoffooter {
    color: #A4A4A4;
}

.footerdivs {
    margin-left: 5%;
}

.removepndb {
    padding: 0;
    margin: 0;
}

.whitediv {
    background-color: #fff;
}

.blueline {
    border: 2px solid cyan;
}

#maincontainer {
    background-color: #EFEFEF;
    width: 80%;
    margin: 10% auto;
    position: static;
    border: 5px solid #000000;
}

#firstheader {
    justify-content: space-around;
}

#searchbar {
    width: 50%;
    display: flex;
}

#input {
    background-color: #EFEFEF;
    width: 100%;
    padding: 5px 15px;
}

#signin {
    background-color: #167AC6;
    color: #fff;
    border-radius: 5px;
    border: 0;
}

#secondheader {
    margin-top: 10px;
}

#sectionfirstheader {
    display: flex;
    background-color: #167AC6;
    justify-content: space-between;
}

#sectionsecondheader {
    display: flex;
    border: 2px solid #167AC6;
    justify-content: space-between;
}

#changepreference {
    color: #167AC6;
}

#headernavbaraside {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#listinsidesectionnavbaraside {
    margin: 0;
    padding: 0;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#upnextheader {
    margin: 0;
    height: fit-content;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.showmore {
    /* margin: 0 10%; */
    color: #CDCDCD;
    text-align: center;
    width: inherit;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
}

.whitediv {
    background-color: #fff;
}

#mainfooter {
    padding: 17px;
    margin-top: 10px;
    background-color: #fff;
}

#options {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#secondlineoffooter {
    width: 45%;
    display: flex;
    color: #6F6F6F;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    justify-content: space-between;
}

#firstlineoffooter {
    width: 45%;
    display: flex;
    color: #6F6F6F;
    justify-content: space-between;
    font-size: 15px;
}

#principaldiv {
    width: 100%;
}

#firstcolumn {
    width: 60%;
    height: fit-content;
}

#videodescription {
    text-align: left;
}

#likeiconline {
    display: flex;
    justify-content: space-between;
}

#channeliconline {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#subscribebutton {
    height: 25px;
    width: 75px;
}

#spancontainingtitlesubbutton {
    float: right;
    margin: 5px;
}

#more {
    width: 10%;
    height: 30%;
}

#buttoncontroller1 {
    width: 50%;
}

#desc {
    margin-top: 15px;
}

#loading {
    padding: 70px 0;
    margin-top: 10px;
}


/* #containersubslogo {
    padding: 10px;
} */